@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  a {
    @apply underline underline-offset-2 !decoration-mono-400 transition decoration-1;
  }

  a:hover {
    @apply !decoration-mono-200;
  }
}

@layer utilities {
  .mask {
    mask-image: linear-gradient(
      to right,
      transparent 0,
      #000 40px,
      #000 calc(100% - 40px),
      transparent 100%
    );
  }

  .fancy {
    @apply font-serif;
    @apply italic;
    @apply text-[17px];
  }

  .animate-pulsate {
    animation: pulsate 5s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  }

  .animate-unblur {
    animation: unblur 0.1s linear;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(234, 179, 8, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 6px rgba(234, 179, 8, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(234, 179, 8, 0);
  }
}

@keyframes unblur {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

html {
  scrollbar-gutter: stable;
}
