@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply mb-1 font-bold;
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  h4 {
    @apply text-xl;
  }
  h5 {
    @apply text-lg;
  }
  h6 {
    @apply text-base;
  }
}

@layer utilities {
  .decoration-skip-none {
    text-decoration-skip-ink: none;
  }
}

/* Scrollbar */

:root {
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: #343434;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  min-height: 44px;
  min-width: 44px;
  background-color: #343434;
  border-radius: 16px;
  border: 5px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3e3e3e;
}

::-webkit-scrollbar-thumb:active {
  background-color: #8f8f8f;
}
