/* Fancy™ Scrollbar */

:root {
  --scrollbar-size: 16px;
  --scrollbar-size-min: 44px;
  --scrollbar-color: var(--mono6);
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  min-height: var(--scrollbar-size-min);
  min-width: var(--scrollbar-size-min);
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-size);
  border: 5px solid transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--mono7);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--mono9);
}
